body {
  font-family: monospace;
  margin: 0;
  background-color: #fff;
  background-image: linear-gradient(180deg, #F5F5F5, #fff);
  background-repeat: no-repeat;
}
button{
  font-family: monospace;

}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.nav {
  position: fixed;
  background-color: #ff007f;
  height: 60px;
  width: 100%;
  z-index: 100;
  color: #fff;
}

.flex {
  display: flex;
}

.anaround {
  justify-content: space-around;
}

.blockqut {
  margin-top: 10px;
}
.btn {
  background-color: #ff007f;
  color: #fff;
  cursor: pointer;
  border: 1px dotted #4680ff;
  padding: 10px;
  background-color: #4680ff;
}
.border:hover {
  border: 2px dotted #fff;
}
.h3 {
  font-size: 1.6rem;
}
.border {
  border-radius: 1000px;
}
.logo{
  height: 40px;
}
.frem{
  margin: 4px;
  font-size: 1rem;
  border: 1px solid #4680ff;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  color: #4680ff;
  cursor: pointer;
  transition: all 0.3s ease;
}
#filein{
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style-type: square;
}
.fixed{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.vcc{
  display: none;
}