body {
  font-family: monospace;
  margin: 0;
  background-color: #fff;
  background-image: linear-gradient(180deg, #FF007F, #fff);
  background-repeat: no-repeat;
}
button{
  font-family: monospace;

}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.nav {
  position: fixed;
  background-color: #ff007f;
  height: 60px;
  width: 100%;
  z-index: 100;
  color: #fff;
}

.flex {
  display: flex;
}

.anaround {
  justify-content: space-around;
}

.blockqut {
  margin-top: 10px;
}
.btn {
  background-color: #ff007f;
  color: #fff;
  cursor: pointer;
  border: 1px dotted #4680ff;
  padding: 10px;
  background-color: #4680ff;
}
.border:hover {
  border: 2px dotted #fff;
}
.h3 {
  font-size: 1.6rem;
}
.border {
  border-radius: 1000px;
}
.logo{
  height: 40px;
}